<body>
    <div><br></div>
    <div class="container well">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/books/{{ book.id }}" class="form-horizontal">
                    <fieldset class "userProfile">
                        <legend>Add New Book</legend>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="title_label">Title</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="genre_label">Genre</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input id="genre" name="genre" type="text" placeholder="Genre" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="description_label">Description</label>
                            <div class="col-md-8">
                                <div class="input-group col-md-12">
                                    <input id="description" name="description" type="text" placeholder="Description" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="url-label">Cover URL</label>
                            <div class="col-md-8">
                                <div class="input-group col-md-12">
                                    <input id="cover_url" name="cover_url" type="text" placeholder="Cover URL" class="form-control input-md"
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                              <br>
                              <div class="col-md-8">
                                <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Submit</button>
                                <a href="#" class="btn btn-sm btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>
                              </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
